
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a asp-controller="home" asp-action="index" class="btn btn-link" aria-label="Left Align"><span class="glyphicon glyphicon-home"></span></a></li>


            @if (!User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="account" asp-action="SignIn">Sign In</a></li>
                <li><a asp-controller="account" asp-action="Register">Register</a></li>

            }
            else
            {
                <li><a asp-controller="Group" asp-action="Grouplist">List of Groups</a></li>
                <li><a asp-controller="Group" asp-action="Groupcreate">Make A Group</a></li>
                <li><a asp-controller="account" asp-action="Signout">Sign Out</a></li>
            }

        </ul>
    </div>

</nav>