@model RegisterViewModel

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <form asp-action="Register" method="post" class="form-register">
        <div asp-validation-summary="All">

            <label asp-for="Email" class="sr-only"></label>
            <input asp-for="Email" class="form-control" />

            <label asp-for="Password" class="sr-only"></label>
            <input asp-for="Password" class="form-control" />

            <label asp-for="ConfirmedPassword" class="sr-only"></label>
            <input asp-for="ConfirmedPassword" class="form-control" />

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            <a asp-controller="account" asp-action="SignIn" class="btn-link">Already have an account?</a>

        </div>
    </form>
</div>
